.Results {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.backIcon {
	width: 18px;
	height: 16px;
	transition: transform 0.2s ease-in-out;
    transform: rotate(270deg);
    fill: #222222;
    margin-right: 19px;
}

.footer {
    display: flex;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    color: #222222;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
    background-color: #fff;
}

.body {
    display: flex;
    flex-grow: 1;
}